Day 1: Introduction to Data Science & Basic Python

Basic Python

In [1]:
print("Welcome to Data Science!")

Welcome to Data Science!

In [2]:
# Simple calculation
a = 10
b = 5
print("Sum:", a+b)

Sum: 15

In [3]:
# Python list
data = [1, 2, 3, 4, 5]
print("Average:", sum(data)/len(data))

Average: 3.0

Using Libraries (NumPy & Pandas)

In [5]:
import numpy as np
import pandas as pd

In [6]:
# NumPy array
arr = np.array([1, 2, 3, 4, 5])
print("Mean using NumPy:", np.mean(arr))

Mean using NumPy: 3.0

In [8]:
# Pandas DataFrame
data = {'Name': ['Gouthami', 'Masrath', 'Chandana'],
        'Score': [85, 90, 78]}
df = pd.DataFrame(data)
print(df)

       Name  Score
0  Gouthami     85
1   Masrath     90
2  Chandana     78

Mini Project

In [5]:
import pandas as pd

# Load dataset
df = pd.read_excel("Sample - Superstore.xlsx")

# Basic EDA
print("First 5 rows:")
print(df.head())

print("Total Sales:", df['Sales'].sum())
print("Average Profit:", df['Profit'].mean())
print("Unique Customers:", df['Customer Name'].nunique())

First 5 rows:
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2020-152156 2020-11-08 2020-11-11    Second Class    CG-12520
1       2  CA-2020-152156 2020-11-08 2020-11-11    Second Class    CG-12520
2       3  CA-2020-138688 2020-06-12 2020-06-16    Second Class    DV-13045
3       4  US-2019-108966 2019-10-11 2019-10-18  Standard Class    SO-20335
4       5  US-2019-108966 2019-10-11 2019-10-18  Standard Class    SO-20335

     Customer Name    Segment Country/Region             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0     42420.0   South  FUR-BO-10001798        Furniture    Bookcases
1     42420.0   South  FUR-CH-10000454        Furniture       Chairs
2     90036.0    West  OFF-LA-10000240  Office Supplies       Labels
3     33311.0   South  FUR-TA-10000577        Furniture       Tables
4     33311.0   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]
Total Sales: 2297200.8603000003
Average Profit: 28.656896307784663
Unique Customers: 793